.movies-by-genre {
  // .movies-by-genre__inner
  &__inner {
    padding: 160px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;

    @include media-mobile {
      gap: 32px;
      padding: 120px 0 32px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 64px;

      @include media-laptop {
        justify-content: center;
      }

      @include media-mobile {
        row-gap: 24px;
      }
    }
  }

  // .movies-by-genre__back
  &__back {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 16px;
    cursor: pointer;

    &:hover {
      * {
        color: $background-brand-active;

        path {
          fill: $background-brand-active;
        }
      }
    }

    svg {
      path {
        @include defaultTransition;
      }
    }
  }
}
