@use "@/styles/default/reset.scss";
@use "@/styles/default/colors.scss";

@mixin font-face($font-family, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("/fonts/#{$font-family}.woff") format("woff"),
      url("/fonts/#{$font-family}.woff2") format("woff2");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

//? Подключение шрифтов
@include font-face("Play-Bold", 700, normal);
@include font-face("Play-Regular", 400, normal);
@include font-face("OpenSans-Bold", 700, normal);
